[submodule "Towson_Project_COSC436"]
	path = Towson_Project_COSC436
	url = https://github.com/johnpuri/Towson_Project_COSC436.git

[submodule "Towson_COSC_471"]
	path = Towson_COSC_471
	url = https://github.com/johnpuri/Towson_COSC_471.git

[submodule "Towson_COSC455"]
	path = Towson_COSC455
	url = https://github.com/johnpuri/Towson_COSC455.git

[submodule "Towson_COSC484"]
	path = Towson_COSC484
	url = https://github.com/johnpuri/Towson_COSC484.git

[submodule "Towson_COSC350"]
	path = Towson_COSC350
	url = https://github.com/johnpuri/Towson_COSC350.git

[submodule "CMSC204"]
	path = CMSC204
	url = https://github.com/johnpuri/CMSC204.git

[submodule "CMSC-203"]
	path = CMSC-203
	url = https://github.com/johnpuri/CMSC-203.git