[submodule "Towson_Project_COSC436"]
\tpath = Towson_Project_COSC436
\turl = https://github.com/johnpuri/Towson_Project_COSC436.git
[submodule "Towson_COSC_471"]
\tpath = Towson_COSC_471
\turl = https://github.com/johnpuri/Towson_COSC_471.git
[submodule "Towson_COSC455"]
\tpath = Towson_COSC455
\turl = https://github.com/johnpuri/Towson_COSC455.git
[submodule "Towson_COSC484"]
\tpath = Towson_COSC484
\turl = https://github.com/johnpuri/Towson_COSC484.git
[submodule "Towson_COSC350"]
\tpath = Towson_COSC350
\turl = https://github.com/johnpuri/Towson_COSC350.git
[submodule "CMSC204"]
\tpath = CMSC204
\turl = https://github.com/johnpuri/CMSC204.git
[submodule "CMSC-203"]
\tpath = CMSC-203
\turl = https://github.com/johnpuri/CMSC-203.git
